<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="errorFile" class="ch.qos.logback.core.FileAppender">
        <append>true</append>

        <file>C:/pet_project_logs/error.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name = "errorLogs">
        <level value="ERROR"/>
        <appender-ref ref="errorFile" />
    </logger>

    <logger name = "debugLogs">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>